
body{
  background-color: gainsboro;
}
.row{
	margin: 10%;
	height: auto;
  clear: both;
  background-color: white;#EDEDED;
}
header{
	text-align: center;
	width: 100%;
  height: auto;
  padding-bottom: 3%;
	border-bottom: solid;
	border-bottom-width: 2px;
}
.title{
  font-size: 2vh;
}
.imageresponsive{
  width: 100%;
}
#cara{
  width: 20%;
  margin-top: -10%;
}

.circulo {
  border-radius: 50%;
  border-style: solid;
  border-color: gainsboro;
}
.col{
  float: left;
	height: auto;
}

@media (max-width: 630px){
  .col-md-6{
    width: 100%;
  }
  .col-md-4{
    width: 100%;
  }
  .row{
    margin: 10% 0%; 
  }
}
@media (min-width: 631px){
  .col-md-6{
    width: 60%;
  }
  .col-md-4{
    width: 40%;
  }
}

.col-md-9{
  width: 90%;
}
.col-md-8{
  width: 80%;
}
.col-md-2{
  width: 20%;
}
.col-md-1{
  width: 10%;
}
#main-col-izda{
}
#main-col-drcha{
}
footer{
	border-top: solid;
	border-top-width: thin;
	text-align: right;
	font-size: 1.3vh;
	padding: 0.5vh;
	box-sizing: border-box;
	width: 100%;
	clear: both;
}
.box{
	padding: 1% 2%;
	width: 100%;
	height: auto;
  font-size: 1.4vh;
  box-sizing: border-box;
}
.box h1{
	color: red;
	font-size: 1.8vh
}
.imageresponsive{
	width: 100%
}
.white-space{
	width: 100%;
	padding-bottom: 0.7vh;
	clear: both;
}
.bubble{
	background-color: lightgrey;
	padding: 1vh;
	box-sizing: border-box;
  float: right;
}
.bubble {
    background-color: lightgrey;
    border-radius: 0.5vh;
    display: inline-block;
    padding: 1vh 1.5vh;
    position: relative;
    vertical-align: top;
}
.bubble::before {
    top: 2vh;
    background-color: lightgrey;
    content:"\00a0";
    display: block;
    height: 1vh;
    width: 1.5vh;
    position: absolute;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
}
.me::before {
    left: -0.7vh;
}
.pointer {
    height: 1em;
    width: 1em;
    float: left;
    margin-left: -1em
}
.pointer span {
    background: black;   /* body background */
    width: 100%;
    height: 100%;
}
.pointer .top {
    border-top-left-radius: 1em;
    float: left;
}
.pointer .bottom {
    border-bottom-left-radius: 1em;
    float: left;
}
li{
  padding-bottom: 0.3vh;
}
.skill{
  font-size: 0.9em;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.4vh;
  margin-bottom: 0.4vh
}
.idioma{
  border-bottom: 0.1vh;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  padding: 0.3vh
}
.stars_container{
  float: right;
  margin-top: -0.5vh;
  font-size: 1.3em;
  clear:both;
}
.stars_marked{
  float: left;
  color: red
}
.stars_not_marked{
  float: left;
}
.hobbie{
  float: left;
  background-color: #80004e;
  color: white;
  font-weight: bold;
  padding: 0.5vh;
  margin: 0.2vh;
  border-style: outset;
  border-color: #80007a;
}